<form method="POST" style="margin: 50px; width: 50%">
  <div class="form-group">
    <label for="searchInput">search</label>
    <input type="text" name="q" class="form-control" id="searchInput" placeholder="search...">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 20px;">search</button>
</form>